<html>
    <body>
        <div class="container">       
            <div class="row">
                <div>
                    <rocket-animation></rocket-animation>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xs-6 text" >
                    <p class="header">Get you seat to Mars!</p>
                    <p class="body-text">Earth is doomed, but don't worry! the last rocket is leaving for mars soon, so hurry up and book your flight!</p>
                </div>
                <div class="col-xs-6 div-hero"><img class="hero" src="assets/images/hero.png"/></div>
            </div>
            <div class="d-flex justify-content-center">
              <count-down-clock></count-down-clock>
            </div>
        </div>  
    </body>
</html>

